/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*
стиои страницы 
*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-variation-settings: 'wght' var(--font-variation-settings);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: normal;
  background-color: var(--bg-color);
}

/*
фоновая обертка
*/
.wrapper {
  width: 100%;
  height: 960px;
  background-image: var(--body-pattern);
}

/*
шапка 
*/
.header {
  margin-top: clamp(100px, 10vh, 102px);
  margin-bottom: 98px;
  width: min(100%, var(--header-width));
  margin-inline: auto;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font);
}

.header__logo {
  font-size: clamp(49px, 8vw, 65px);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(14px, 3vw, 23px);
  text-transform: uppercase;
  font-weight: var(--main-font-weight);
}

.content {
  width: min(100%, var(--content-width));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

/*
сетка карточек
*/
.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.save-dialog[open] ~ .cards::after {
  content: '';
  position: fixed;
  inset: 0;
  background-image: var(--body-pattern);
  z-index: 1;
  pointer-events: none;
}

/*
сами карточки 
*/
.card {
  position: relative;
  z-index: 2;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.card__title {
  display: flex;
  align-items: flex-end;
  padding: 6px 10px 3px 10px;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--title-font-weight);
  font-variation-settings: 'wght' var(--title-font-weight)
}

/*
контейнер картинки
*/
.card__image-container {
  position: relative;
  aspect-ratio: 696 / 696;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*
фильтры для картинок
*/
.card__image-grayscale {
  filter: grayscale(0.7);
}

.card__image-saturate {
  filter: saturate(2);
}

.card__image-hue-rotate {
  filter: hue-rotate(90deg);
}

.card__image-invert {
  filter: invert(0.75);
}

.card__image-sepia {
  filter: sepia(1);
}

.card__image-darken {
  filter: brightness(0.2);
}

.card__image-multiple {
  filter: contrast(1.5) brightness(1.2);
}

.card__image-contrast {
  filter: contrast(0.8);
}

/*
водяной знак
*/
.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  line-height: normal;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 #ffffff,
    1px 0 #ffffff,
    0 -1px #ffffff,
    0  1px #ffffff;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px #ffffff) {
  .card__watermark {
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 25px 25px;
  line-height: 1.17;
  font-size: var(--main-font-size);
}

.card:nth-of-type(2) .card__description {
  padding: 25px 26px 25px 25px;
}

.card:nth-of-type(8) .card__description {
  padding: 25px 25.95px 25px 25px;
}

/*
управление карточкой
*/
.card__controls {
  display: flex;
  justify-content: flex-end;
  height: 38px;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 6px;
}

.card__icon-button {
  border: 2px solid transparent;
  background: none;
  padding: 6px 0 0 0;
  cursor: pointer;
  transition: border-color 0.3s ease;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.card__like-button {
  display: flex;
  padding: 12.5px 35px;
  width: 130px;
  justify-content: center;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.sparks {
  opacity: 0;
}


/*
система кнопок
*/
.button {
  position: relative;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  line-height: 0.9;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
}

.save {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 103px;
  z-index: 1;
}

.save__button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 15px 21px;
  justify-content: center;
}

.save__icon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color, #ffffff);
}

/*
диалоговое окно
*/
.save-dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  border: 2px solid var(--text-color);
  padding: 0;
  width: 353px;
  height: 191px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: opacity 0.3s ease-in-out;
}

.save-dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.save-dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.save-dialog__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.save-dialog__text {
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  line-height: 1.5;
  text-transform: uppercase;
}

.save-dialog__button {
  width: 293px;
  height: 38px;
  margin: 20px 0 0 20px;
  padding: 0;
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  text-transform: uppercase;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/*
мобильная адаптация 
*/
@media (width <= 376px) {
  .card__title {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px 3px 10px;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-weight: var(--title-font-weight);
  }

  .card__watermark {
    position: absolute;
    top: 25px;
    right: 13px;
    font-family: var(--accent-font);
    font-size: var(--small-font-size);
    line-height: normal;
    mix-blend-mode: hard-light;
    opacity: 0.5;
    text-shadow:
      -1px 0 #ffffff,
      1px 0 #ffffff,
      0 -1px #ffffff,
      0  1px #ffffff;
  }

  .card__description {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 25px 28.01px 25px 25px;
    line-height: 1.17;
    font-size: var(--main-font-size);
  }

  .card:nth-of-type(7) .card__description {
    padding: 25px 29px 25px 25px;
  }

  .card:nth-of-type(8) .card__description {
    padding: 25px 25.95px 25px 25px;
  }

  .save__button {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 15px 20px;
  }

  .save__icon {
    width: 28px;
    height: 28px;
  }

  .save-dialog {
    width: 341px;
    height: 191px;
  }

  .save-dialog__content {
    margin: 30px 20px 26px;
  }

  .save-dialog__button {
    width: 257px;
    margin: 0 20px 30px;
  }
}