:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --font-variation-settings: 'wght' var(--main-font-weight);

  --main-font-weight: 400;
  --title-font-weight: 700;
  --main-font-size: 18px;
  --small-font-size: 14px;

  --text-color: #000;
  --bg-color: #fff;

  --body-pattern: 
    repeating-linear-gradient(90deg,#d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg,#d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100%);

  --content-width: clamp(375px, 100vw, 700px);
  --header-width: clamp(375px, 100vw, 700px);
  --header-padding-inline: clamp(14px, 8vw, 120.5px);
  --header-padding-block: clamp(120px, 8vw, 128px);

  --contour-color: var(--text-color);
  --animation-fill-color: #ff0000;
  --button-text-color: #ffffff;
}